<!-- Static files -->
{% load static %}

<html lang="es">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>La Constitución es Nuestra - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta tags para Facebook, Twitter, etc. -->
    <meta name="description" content="La Constitución es Nuestra, un proyecto de Ciudadanía Inteligente, Consti tu+yo y The Global Initiative" />
    <meta name="author" content="Fundación Ciudadanía Inteligente" />
    <meta name="keywords" content="La Constitución es Nuestra, LCen, Convención, Constitucional"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="La Constitución es Nuestra"/>
    <!-- <meta property="og:title" content="Visita La Constitución es Nuestra, un proyecto de Ciudadanía Inteligente, Consti tu+yo y The Global Initiative"> -->
    <meta property="og:title" content="{% if object.propuesta %}Revisa la propuesta {{ object.titulo }} en La Constitución es Nuestra{% else %}Conoce La Constitución es Nuestra, un proyecto de Ciudadanía Inteligente, Consti tu+yo y The Global Initiative{% endif %}">
    <meta property="og:image" content="{% static 'img/lcen-redes.jpg' %}"/>
    <meta property="og:description" content="La Constitución es Nuestra, un proyecto de Ciudadanía Inteligente, Consti tu+yo y The Global Initiative"/>
    <meta property="og:url" content="https://laconstitucionesnuestra.cl">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ciudadania_i" />
    <meta name="twitter:creator" content="@ciudadania_i">
    <meta name="twitter:title" content="La Constitución es Nuestra" />
    <meta name="twitter:description" content="{% if object.propuesta %}Revisa la propuesta {{ object.titulo }} en La Constitución es Nuestra{% else %}Conoce La Constitución es Nuestra, un proyecto de Ciudadanía Inteligente, Consti tu+yo y The Global Initiative{% endif %}" />
    <meta name="twitter:image" content="https://laconstitucionesnuestra.cl/static/img/lcen-redes.jpg" />


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />

    <!-- Estilos CSS LCeN -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <!-- Hover CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/hover.css' %}" />

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Font Awesome -->
   <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}" />
   <script src="https://kit.fontawesome.com/8a388b05d1.js" crossorigin="anonymous"></script>

   <!-- JQuery
   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->

    <!-- Wow.js activar animación al hacer scroll -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R0VHB77FX6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-R0VHB77FX6');
</script>

  </head>

  <body>

    <header class="container-fluid fixed-top">
        <nav class="navbar navbar-expand-lg container">
            <div class="container-fluid p-0">
                <a class="navbar-brand" href="{% url 'inicio' %}"><img src="{% static 'img/logo-lcen.png' %}" alt="logo LCeN" class="img-fluid"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'quees' %}">¿Qué es?</a>
                        </li>
                      <!--  <li class="nav-item">
                            <a class="nav-link" href="#">Iniciativa Popular</a>
                        </li> -->
                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Recursos</a>
                             <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                 <li><a class="dropdown-item" href="{% url 'mapa-constitucional' %}">Mapa Constitucional</a></li>
                                 <li><a class="dropdown-item" href="{% url 'constitucion-feminista' %}">Constitución Feminista</a></li>
                                 <li><a class="dropdown-item" href="{% url 'ensayos' %}">Ensayos</a></li>
                                 <li><a class="dropdown-item" href="{% url 'preguntasfrecuentes' %}">Preguntas Frecuentes</a></li>
                             </ul>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="{% url 'verconvencionales' %}">Convencionales</a>
                         </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ver_propuestas' %}">Propuestas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'verorganizaciones' %}">Organizaciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

{% block content %}



{% endblock %}



<div class="decoracion-colores">
    <div class="yellow"></div>
    <div class="blue"></div>
    <div class="green"></div>
    <div class="red"></div>
</div>

<footer class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 logo">
            <img src="{% static 'img/logo-lcen.png' %}" alt="logo LCeN" class="img-fluid logo">
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 impulsado">
            <h3>Impulsado por:</h3>
            <div class="logos-organizaciones">
                <img src="{% static 'img/fci-logo.png' %}" alt="logo fci" class="img-fluid logo">
                <img src="{% static 'img/constituyo-logo.png' %}" alt="logo Constituyo" class="img-fluid logo">
                <img src="{% static 'img/the-global-iniciative-logo.png' %}" alt="logo the global iniciative" class="img-fluid logo">
                <img src="{% static 'img/fes-logo.png' %}" alt="logo FES" class="img-fluid logo">
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 apoyo">
            <h3>Con el apoyo de:</h3>
            <div class="logos-organizaciones">
                <img src="{% static 'img/ned-logo.png' %}" alt="logo Ned" class="img-fluid logo">
            </div>
        </div>

        <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xxl-7 collage-1">
            <img src="{% static 'img/footer-collage-1.png' %}" alt="collage footer 1" class="img-fluid">
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 redes">
            <p>#LaConstituciónEsNuestra</p>
            <ul class="rrss">
                <li><a href="mailto:contacto@laconstitucionesnuestra.cl" target="_blank"><i class="fas fa-envelope"></i></a></li>
                <li><a href="https://github.com/ciudadanointeligente/lcen" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank"><i class="far fa-closed-captioning"></i></a></li>
            </ul>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 collage-2">
            <img src="{% static 'img/footer-collage-2.png' %}" alt="collage footer 2" class="img-fluid">
        </div>
    </div>
</footer>

    <!-- Bootstrap JS -->
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

  </body>
</html>
